@tailwind base;
@tailwind components;
@tailwind utilities;


.role-card {
    background: linear-gradient(93deg, #252531 0%, #353543 100%);
}

.animation-text {
    background : linear-gradient(99deg, #B822FF 3.09%, #0D8BFF 100%);
    -webkit-background-clip: 'text';
    color: transparent;
    display: inline-block;
}
@hover .animation-text {
    color: #FFFFFF;
}

span {
    display: inline-block;
}